@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")

        <div class="row">

            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")
           
            @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
           

        </div>

        <div class="row">

            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")

        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2019 © Xacton.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Design & Develop by Myra
                </div>
            </div>
        </div>
    </div>
</footer>
